


<div class="flex flex-col justify-center-safe items-center bg-yellow-800 h-screen" *ngIf="!pageVisible">
 <p class="mb-10 text-2xl text-white">Please Login before you enter next page</p>
    <div class=" bg-base-100   shrink-0 shadow-2xl">

        <div class="card-body">
            <fieldset class="fieldset">
                <label class="label">Email</label>
                <input #username type="email" class="input" placeholder="Email" />
                <label class="label ">Password</label>
                <input #password type="password" class="input" placeholder="Password" />
                <div><a class="link link-hover">Forgot password?</a></div>
                <button class="btn btn-neutral mt-4" (click)="login(username.value,password.value)">Login</button>
            </fieldset>
        </div>
    </div>
</div>

