<div class="  bg-yellow-600 h-auto w-screen rounded-md z-10">
  <div class="flex justify-center pt-5">
    <ul>
      <details>
        <summary
          class=" text-2xl capitalize hover:bg-white text-black p-3 rounded-sm border-sm-black-100 border-white border-2 mb-3 mt-5">
          Would you like to choose Veg or Non-veg?
        </summary>
        <div class="join grid grid-cols-2 text-white mb-5">
          <button class="join-item btn btn-outline hover:text-black" (click)="veg()">Veg
          </button>
          <button class="join-item btn btn-outline hover:text-black" (click)="nonveg()">Non-Veg
          </button>
        </div>
      </details>
    </ul>

  </div>
  <div *ngIf="showAddedAlert" role="alert"
    class="  rounded-sm mb-3.5 flex justify-center max-w-sm mx-auto  bg-yellow-600 border-2 border-blue-800 text-blue-800 font-bold">
    <span>You're pickle has been added to the Cart!</span>
  </div>
  @if (pickleType === undefined) {
  <ul
    class=" flex flex-row flex-wrap justify-center bg-yellow-600 min-h-140 min-w-80 rounded-md ml-20 mr-20 border-white border-2 ">
    <li *ngFor="let pickleobj of pickles">
      <div class="rounded-sm bg-base-100 w-80 h-2/4 shadow-xl m-5">
        <figure>
          <img [src]=pickleobj.image alt="Mango" class="w-90" />
        </figure>
        <div class="card-body bg-white">
          <h2 class="card-title">{{pickleobj.name}}</h2>
          <p>{{pickleobj.content}}</p>
          <div class="card-actions justify-end">
            <label for="idof" class="font-extrabold">Price/KG : </label>
            <div #Price1 id="idof" class="text-yellow-600 font-bold">{{pickleobj.price}}</div>
            <button class="badge badge-outline" (click)="cartButton(pickleobj.name, +pickleobj.price)">Add To
              Cart</button>
          </div>
        </div>
      </div>

    </li>
  </ul>
  } @else if (pickleType === "Veg") {

  <ul
    class="bg-yellow-600 min-h-140 min-w-80 rounded-md ml-20 mr-20 border-white border-2 flex flex-row flex-wrap justify-center">
    <li *ngFor="let pickleobj of pickles">
      @if(pickleobj.type==="veg"){
      <div class=" bg-base-100 w-80 h-2/4 shadow-xl m-5">
        <figure>
          <img [src]=pickleobj.image alt="Mango" class="w-90" />
        </figure>
        <div class="card-body bg-white">
          <h2 class="card-title">{{pickleobj.name}}</h2>
          <p>{{pickleobj.content}}</p>
          <div class="card-actions justify-end">
            <label for="idof" class="font-extrabold">Price/KG : </label>
            <div #Price1 id="idof" class="text-yellow-600 font-bold">{{pickleobj.price}}</div>
            <button class="badge badge-outline" (click)="cartButton(pickleobj.name, +pickleobj.price)">Add To
              Cart</button>
          </div>
        </div>
      </div>
      }

    </li>


  </ul>

  } @else if (pickleType === "NonVeg") {

  <ul
    class="bg-yellow-600 min-h-140 min-w-80 rounded-md ml-20 mr-20 border-white border-2 flex flex-row flex-wrap justify-center">
    <li *ngFor="let pickleobj of pickles">
      @if(pickleobj.type==="non-veg"){
      <div class=" bg-base-100 w-80 h-2/4 shadow-xl m-5">
        <figure>
          <img [src]=pickleobj.image alt="Mango" class="w-90" />
        </figure>
        <div class="card-body bg-white">
          <h2 class="card-title">{{pickleobj.name}}</h2>
          <p>{{pickleobj.content}}</p>
          <div class="card-actions justify-end">
            <label for="idof" class="font-extrabold">Price/KG : </label>
            <div #Price1 id="idof" class="text-yellow-600 font-bold">{{pickleobj.price}}</div>
            <button class="badge badge-outline" (click)="cartButton(pickleobj.name, +pickleobj.price)">Add To
              Cart</button>
          </div>
        </div>
      </div>
      }

    </li>


  </ul>

  }